<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>File Manager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h2>Загрузка и шифрование</h2>
<form method="post" action="/file/upload" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <button type="submit">Загрузить в программу и зашифровать</button>
</form>

<h2>Скачать файл</h2>
<form method="get" id="downloadForm">
    <input type="text" id="filename" placeholder="Enter filename" required/>
    <button type="button" onclick="downloadFile()">Скачать себе зашифрованный файл</button>
</form>

<script>
    function downloadFile() {
        const filename = document.getElementById("filename").value;
        window.location.href = '/file/download/' + filename;
    }
</script>
</body>
</html>
